<!-- <!DOCTYPE html> -->
<html>

<head>
    <title>Генератор бейджів</title>
    <link rel="stylesheet" href="/views/find.css" type="text/css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fabric.js/4.3.1/fabric.min.js"></script>
    <script src="main.js"></script>
    </body>
</head>

<body>
<div class="top-bar">
    <% if (isAuthenticated) { %>
        <button class="btn" onclick="window.location.href='/create'">Створити сертифікат</button>
        <button class="btn" onclick="window.location.href='/auth/signout'">Вихід</button>
    <% } else { %>
        <button class="btn" onclick="window.location.href='/auth/signin'">Авторизація</button>
    <% } %>
</div>
<div class="container">
    <h1>Знайти бейдж</h1>
    <div class="form-group">
        <label for="numberOfBadge">Введіть номер, який знаходиться в лівому верхньому куті бейджа:</label>
        <form method="GET" action="/findBadge">
            <input type="text" id="numberOfBadge" name="numberOfBadge" required value="<%= value %>">
            <button type="submit">Знайти</button>
        </form>
    </div>
</div>
<% if (value) { %>
    <% if (element) { %>
        <div style="margin: 0 auto; position: relative; width: 500px;">
            <img src="/<%= element.img %>" alt="<%= element.id %>">
            <a href="/<%= element.img %>" target="_blank" class="preview button">Переглянути</a>
            <a href="<%= element.img %>" class="save button" download="<%= element.id %>.png">Завантажити</a>
        </div>
    <% } else { %>
        <h3 class="finding-error">Бейджу з таким номером не існує.</h3>
    <% } %>
<% } %>

<footer>
    <div>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </div>
</footer>
</body>

</html>